<h2 class="text-xs font-bold tracking-widest text-slate-200">ABOUT ME</h2>
<p class="text-justify mb-4">
    My foray into the world of programming began in 2009 at the Fundação Nokia de Ensino,
    a social project funded by Nokia Corporation in the state of Amazon, Brazil.
    There, I embarked on my coding journey with Pascal, crafting my first projects,
    including a house plan generator in C++ and a geometric optics simulator for students in ActionScript.
    It wasn't just the practicality; I fell in love with the power to create systems from scratch,
    brick by logical brick.</p>
    <p class="text-justify mb-4">Today, I spend a significant amount of time exploring Deep Learning, a field brimming
        with potential to revolutionize business processes and products. I'm fascinated by its ability
        to optimize tasks and solve problems - a vision that extends to my long-term goals:</p>
    <p class="text-justify mb-4">Firstly, I aspire to help companies refine their operations and, in time,
        build my own venture, Dedalus Digitals, focused on business insights. My ideal work environment
        fosters innovation and thrives on diverse perspectives, enabling us to collectively craft
        groundbreaking solutions.</p>
    <p class="text-justify mb-4">After a demanding week, I find solace in nature, spending quality time with my family
        on weekend adventures, exploring the waterfalls in our state, or simply visiting relatives.
        When indoors, I might be found engrossed in an online chess challenge or diving into a captivating
        book - technical or of any other genre.</p>
    <p class="text-justify mb-4">While I possess a few minor talents, such as music - I'm not a virtuoso, but I can manage
        a decent improvisation on the guitar or piano - what I consider my greatest strength is self-organization 
        and planning, which I've utilized to overcome many challenges in my life and achieve my goals.
        This self-organization has been instrumental in my independent exploration of Artificial Intelligence
        and Deep Learning.</p>
    <p class="text-justify mb-4">Finally, a fun fact that no one knows except my wife - I'm also writing a novel.
        Words trickle out month by month... maybe before I hit 60, I'll see it published!</p>