<h2 class="text-xs font-bold mb-8 tracking-widest text-slate-200">EXPERIENCE</h2><p class="text-lg justify-between">
<ol>

    <li class="mb-12">
        <div class="group relative grid pb-1 px-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
            <div class="absolute -inset-x-4 -inset-y-4  z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg">
            </div>
            <header class="z-10 sm:col-span-2 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500">2021 - Present</header>
            <div class="z-10 sm:col-span-6 text-justify">
                <h3 class="font-medium leading-snug text-slate-200">
                    Programmer - Regional Labor Court of the 11th Region
                </h3>
                <p class="mt-2 text-sm leading-normal">
                    I spent the first 2 years assisting in the management and planning of the IT department
                    (which encompasses support, development, and customer service). Currently, I work as a Proxy
                    Product Owner for the national finance system of the Brazilian labor justice system (SIGEO/JT).
                </p>
                <ul class="mt-2 flex flex-wrap">
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Angular
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Java
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Spring Boot
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Keycloak
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Quartz
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>

    <li class="mb-12">
        <div class="group relative grid pb-1 px-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
            <div class="absolute -inset-x-4 -inset-y-4  z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg">
            </div>
            <header class="z-10 sm:col-span-2 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500">2015-2021</header>
            <div class="z-10 sm:col-span-6 text-justify">
                <h3 class="font-medium leading-snug text-slate-200">
                    Programmer - Court of Justice (State of Amazonas)
                </h3>
                <p class="mt-2 text-sm leading-normal">
                    Contributed to web-based projects, mainly in Java/JSF and mobile applications, primarily using the Ionic framework.
                </p>
                <ul class="mt-2 flex flex-wrap">
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Java
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Typescript
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Oracle DB
                        </div>
                    </li>
                    <li class="mr-1.5 mt-2">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            Ionic
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>



</ol>