<h2 class="text-xs font-bold tracking-widest text-slate-200">PROJECTS</h2><p class="text-lg justify-between">
<ul class="mt-4">

    <li class="mb-12">

        <div class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity:50">

            <div class="absolute -inset-x-4 -inset-y-4  z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>

            <div class="z-10 sm:order-2 sm:col-span-6">

                <h3><a class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300" href="https://github.com/icaronogueira/classification-heart-attack-risk">Heart Attack Predictor</a></h3>
                <p class="mt-2 text-sm leading-normal">A Gradient Boosting Machine to predict (1 or 0) if the person have risk of heart attack based on various features like: Diabetes, BP, Age, etc...</p>
            </div>
            <img  src="../../assets/projects_covers/heart_attack_risk.png" alt="Heart Attack Risk" width="200" height="48" class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1" style="color:transparent">
        </div>

    </li>

    <li class="mb-12">

        <div class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity:50">

            <div class="absolute -inset-x-4 -inset-y-4  z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>

            <div class="z-10 sm:order-2 sm:col-span-6">

                <h3><a class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300" href="https://github.com/icaronogueira/didaskalicon">Didaskalicon website</a></h3>
                <p class="mt-2 text-sm leading-normal">A personal blog written in MEAN stack.</p>
            </div>
            <img  src="../../assets/projects_covers/didaskalicon.png" alt="Heart Attack Risk" width="200" height="48" class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1" style="color:transparent">
        </div>

    </li>

</ul>