<h2 class="text-xs font-bold tracking-widest text-slate-200">SKILLS</h2>
<h4 class="text-xs font-bold tracking-widest text-slate-200 mt-4">Machine Learning</h4>
<div class="grid grid-cols-3 gap-2">
    <div class="flex flex-col items-center gap-1">
      <img src="../../assets/skills/neural_network.png" alt="Neural Networks" class="w-28 h-28 rounded-full mx-auto">
      <span class="text-xs text-center font-medium">Neural Networks</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/ml algorithms.png" alt="Machine Learning Algorithms" class="w-28 h-28 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Machine Learning Algorithms</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/feature_engineering.png" alt="Feature Engineering" class="w-28 h-28 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Feature Engineering</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/feature_selection.png" alt="Feature Selection" class="w-28 h-28 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Feature Selection</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/exploratory_data_analysis.png" alt="EDA" class="w-28 h-28 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Exploratory Data Analysis</span>
    </div>

</div>


<h4 class="text-xs font-bold tracking-widest text-slate-200 my-4">Tech </h4>
<div class="grid grid-cols-5 gap-5">
    <div class="flex flex-col items-center gap-1">
      <img src="../../assets/skills/python.png" alt="Python" class="w-12 h-12 rounded-full mx-auto">
      <span class="text-xs text-center font-medium">Python</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/java.png" alt="Java" class="w-12 h-12 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Java</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/tensorflow.png" alt="Tensorflow" class="w-12 h-12 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Tensorflow</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/pytorch.png" alt="Pytorch" class="w-12 h-12 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Pytorch</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/scikit_learn.png" alt="Scikit Learn" class="w-12 h-12 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Scikit-Learn</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/ker[]" alt="Keras" class="w-12 h-12 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Keras</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/pandas.png" alt="Pandas" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Pandas</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/numpy.png" alt="Numpy" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Numpy</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/scipy.png" alt="Scipy" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Scipy</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/matplotlib.png" alt="Matplotlib" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Matplotlib</span>
      </div>
      <div class="flex flex-col items-center gap-1">
        <img src="../../assets/skills/apache spark.png" alt="Apache Spark" class="w-12 h-12 rounded-full mx-auto">
        <span class="text-xs text-center font-medium">Apache Spark</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/angular.png" alt="Angular" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Angular</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/node.png" alt="Node.js" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Node.js</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/express.png" alt="Express" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">Express</span>
      </div>
      <div class="flex flex-col items-center gap-1">
          <img src="../../assets/skills/mongodb.png" alt="MongoDB" class="w-12 h-12 rounded-full mx-auto">
          <span class="text-xs text-center font-medium">MongoDB</span>
      </div>

</div>