<div class="flex h-screen bg-[#0f172a]">

    <app-glowing-cursor></app-glowing-cursor>

    <!--Lado esquerdo-->
    <div class="w-1/2 flex flex-col items-start justify-evenly p-8 ml-24">
        <!--cabeçalho-->
        <div class="flex items-center">
            <div class="flex place-items-end mb-4">
                <img class="rounded-full w-14 h-14" src="../assets/avatar.png" alt="avatar">
                <img class="w-4 h-3 " src="../assets/brasil.png" alt="bandeira">
            </div>

            
            <h1 class="text-5xl font-bold tracking-tight ml-4 sm:text5xl text-slate-200">Ícaro Nogueira</h1>
        </div>

        <div>
            <h3 class="text-xl mb-4">Machine Learning Engineer</h3>
            <p>I build robust models that unlock actionable insights for data-driven business decisions.</p>
        </div>
        <!--Navegação-->

        <app-navigation (navigate)="scrollToSection($event)"></app-navigation>
        
        <!--Ícones redes sociais-->
        <div>Redes Sociais</div>
    
    </div>


    <!--Lado direito-->
    <div class="w-1/2 overflow-y-auto px-8 py-16 justify-start">
        <section id="About">
            <app-about></app-about>
        </section>
        <section id="Skills">
            <app-skills></app-skills>
        </section>
        <section id="Experience">
            <app-experience></app-experience>
        </section>
        <section id="Projects">
            <app-projects></app-projects>
        </section>
    </div>

</div>