<div class="flex h-screen bg-emerald-950">

    <!--Lado esquerdo-->
    <div class="w-1/2 flex flex-col items-center justify-center p-8">
        <!--avatar e bandeira-->
        <div class="flex place-items-end">
            <img class="rounded-full w-28 h-28" src="../assets/avatar.png" alt="avatar">
            <img class="w-6 h-4 " src="../assets/brasil.png" alt="bandeira">
        </div>

        <!--Nome, cargo e descrição-->
        <h1 class="text-3xl font-bold mb-2">Ícaro Nogueira</h1>
        <h3 class="text-xl mb-4">Machine Learning Engineer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex.</p>

        <!--Navegação-->

        <app-navigation (navigate)="scrollToSection($event)"></app-navigation>
        
        <!--Ícones redes sociais-->
        <div></div>
    
    </div>


    <!--Lado direito-->
    <div class="w-1/2 overflow-y-auto px-8 py-16">
        <section id="About">
            <app-about></app-about>
        </section>
        <section id="Skills">
            <app-skills></app-skills>
        </section>
        <section id="Experience">
            <app-experience></app-experience>
        </section>
        <section id="Projects">
            <app-projects></app-projects>
        </section>
    </div>

</div>