.glowing-cursor {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    opacity: 0.2;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    animation: glowAnimation 1s infinite alternate ease-in-out;
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.4);
    }

    100% {
        box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.2);
    }
}

.glowing-cursor.glow {
    width: 1px;
    height: 1px;
    opacity: 0.3;
    transform: translate(-50%, -50%);
}