@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inter;
    src: url('assets/fonts/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: inter;
    color: rgb(238, 232, 232);
}